

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 1.7rem;
}
h2 {
    font-size: 1.5rem;
}

.navbar {
    /*padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;*/
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 10px;
    opacity: 0.9;
    
}
.navbar li{
    padding-left: 5px;
    padding-right: 0px;
    margin: 5px;
}
.navbar-nav>li>a {
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px
}
.navbar-brand {
    padding-top:0px;
}
.navbar-brand img{
    padding-top:2px;
    width: 60%;
    height: auto;
}

.fixed-attachment {
    background-attachment: fixed;
    background-position: center;
}
#carousel {
    margin: 40px 0px;
}
#carousel img{
    width:100%;
    height:auto;
}
.fill-screen{
    height: 10rem;
    background-size:cover;
    background-position: center;
    
}
.about-me{
    margin: 50px 30px;
    text-align: center;
}
.about-me > .col-md-3 > img{
        margin: 36.6% auto;
        box-shadow: 5px 5px 8px 1px grey;
}
.projects{
    text-align: center;
    padding:0 0;
    margin:0 0;
}

#projects .project-details{
  position: absolute;
  /*these position should be place for hover*/
  bottom:0;
  right: 10.5%;
  /*---------------*/
  width: 500px;  
  height: 300px;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(to bottom right, rgb(2, 92, 122), rgb(3, 175, 233),rgb(249, 250, 250));
}
#projects .project-details:hover{
    opacity: .8;
}
#projects .project-details .text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#projects .project-details .visit-btn{
    border-top: 1px double rgb(248, 206, 206);
    border-bottom: 1px double rgb(248, 206, 206);
    position: relative;
    width: 50%;
    margin:5% auto;
    cursor:pointer;
    box-shadow: 2px 3px 8px #888888;
    background-color: #2a5b75;
    padding: 10px 5px;
}
.skills {
    margin-top: 10px;
    text-align: center;
}
.skills h1, .contact-me h1, .about-me h1, .edu h1, .works h1 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(#f04178,#f7729e,white) 1;
    width: 500px;
    padding: 20px 10px;
    margin: 3rem auto;
}
.skills >.row {
    text-align: center;  
    margin: 0px 0px;    
}
.tech-skill{
    text-align: center;
    font-size: 6rem;
    padding-top: 50px;
    padding-bottom: 50px;
}
.tech-skill #b-icon {
    padding: 6px 18px;
    position: relative;
    bottom: 1rem;   
    font-size: 3rem;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 5px;
    transition: .2s ease-out;
}
.tech-skill #ps-icon{
    padding: 6px 11px;
    bottom:1rem ;
    position: relative;
    font-size: 3rem;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 5px;
    transition: .2s ease-out;
}
.tech-skill #scss-icon{
    padding: 6px 11px;
    bottom:1rem ;
    position: relative;
    font-size: 3rem;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 5px;
    transition: .2s ease-out;
}

.tech-skill .icon-meaning{
    display:block;
    opacity:0;
    text-transform: uppercase;
    position: relative;
    top: -80px;
    transition: 0.3s linear;
    font-size:1.8rem;
}
.tech-skill div:hover #scss-icon, .tech-skill div:hover #ps-icon,.tech-skill div:hover #b-icon{
    background-color: rgb(248, 172, 198);
}
.tech-skill div:hover i{
    color: rgb(248, 172, 198);
}
.tech-skill div:hover .icon-meaning{
    top:0;
    opacity:1;
}
.edu{
    text-align: center;
    margin: 1.5% 0 ;
}

.edu-info{
    text-align: left;
    border-left: 2px dashed #0c1825;
    background-color:#eff6fd;
    box-shadow: 2px 3px 8px #888888;
    font-size:1.5rem;
    padding-left: 2%;
}

#contact-info{
    border-right: 2px dashed rgb(184, 184, 184);
    padding: 5% 0;
    margin: 2% auto;
}
#contact-info h1{
    border-image: none;
    font-weight: 500;
}
#contact-info p{
    margin: 5% auto;
}
.contact-me {
    text-align: center;
    margin:50px;
}
.contact-me p{
    font-size: 2rem;
}
#myphone::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content:'\f3cd';
    padding: 0 2%;
}
#myemail::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content:'\f0e0';
    padding: 0 2%;
}
.fa-linkedin, .fa-github-square {
    font-size: 5rem;
    padding: 0 2%;
    color: #97b2c1;
    transition: .2s ease-in;
}

.fa-linkedin:hover, .fa-github-square:hover {
    
    color: #03486d;
}


#emailForm{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}



.btn-primary {
    background-color: #03486d;
}

footer{
    text-align: center;
    color: silver;
    padding: 1rem;
    margin-top:2rem;
}